@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.main {
  box-sizing: border-box;
  font-size: 62.5%;
}

.body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: 0.2s;
    height: 213px;
    padding: 25px;
    margin: 18px;
    width: 156px;
    margin-top: -183px;
    border-radius: 35px;
    margin-left: 42px;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
    width: 151px;
    height: 125px;
    border-radius: 65px;
    object-fit: cover;
    margin: auto;
}

.card-content {
  padding: 0rem;
  font-size: 9px;
  margin-top: 38px;
  margin-left: auto;
  text-align: center;
}




